# Ancillary Files #
############
*.pyc
*.csv
*.ods
*~
*.orig
.hg*
*.hg
.directory

# Epubcheck #
############
epubcheck.sh
batchtest.sh

# Output #
############
output/*
*.epub

# Cache #
############
cache/PLoS/*

# Logs #
############
logs/*

# Downloaded XML files #
############
downloaded_xml_files/*

# Eclipse Files #
############
.project
.pydevproject

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
