# Ancillary Files #
############
*.pyc
*.csv
*.ods
*~
*.orig
.hg*
*.hg
.directory

# Epubcheck #
############
epubcheck.sh
batchtest.sh

# Certain Resources #
############
resources/base_epub/

# Output #
############
output/*
*.epub

# Cache #
############
cache/PLoS/*
cache/Frontiers/*

# Logs #
############
logs/*

# Collections #
############
collections/*

# Downloaded XML files #
############
downloaded_xml_files/*

# Build#
############
build/*

# Eclipse Files #
############
.project
.pydevproject

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
