# Ancillary Files #
############
*.pyc
*.csv
*.ods
*~
*.orig
.hg*
*.hg
.directory

# Sphinx #
##########
.buildinfo

# Epubcheck #
############
epubcheck.sh
batchtest.sh

# Certain Resources #
############
resources/base_epub/

# Output #
############
output/*
*.epub

# Build#
############
build/*

# IDE Files #
############
.project
.pydevproject
.settings
*.nja

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

MANIFEST
