div.abstract,
div.editorsAbstract,
div.summary,
div.articleInfo
{
padding:0 10px;
margin:20px 0 40px 0;
border-left:5px solid #CCE3F6;
}
div.articleInfo
{
border-top: 1px dashed;
border-bottom: 1px dashed;
}
span.footnote
{
display:block;
}
.disp-quote
{
display:block;
margin-left:5%;
}
img.disp-formula
{
display:block;
}
b.disp-formula-label
{
display:block;
text-align:right;
}
.boxed-text
{
margin:5%;
background-color:#EEEEEE;
}
p.verse-line
{
font-style:italic;
line-height:50%;
}
p.def-item-term
{
font-weight:bold;
}
p.def-item-def
{
font-style:italic;
margin-left:5%;
}

